{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "View" %}{% endblock title %}
{% block content %}
<h2>{% trans "salesman" %}</h2>
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">			
		</div>
		<div class="card-body">
			<h4>{{ salesman.title }}</h4>			
		</div>
		<div class="card-footer">	
			<p><a href="{{ salesman.site }}" target="_blank">{{ salesman.site }}</a></p>		
		</div>		
	</div>
	<br>
	<div class="div-button-center">
		<a class="btn btn-outline-info" style="width:120px" href="{% url 'salesman_index' %}">{% trans "Back" %}</a> 	
	</div>	
</div>
{% endblock content %}